<%-include('includes/head.ejs') %>

  <body>
    <h1>Welcome to @<%= data.name%>
    </h1>


    <button>Follow</button>
    <button>Log in</button>
    <p>Followers : <%= data.followers %> &nbsp; &nbsp; &nbsp; <%=data.following %>
    </p>
    <hr>
    <% for(let post of data.posts){ %>
      <img src=<%=post.image %> alt="some image">
      <p> Like : <%= post.likes%> &nbsp; &nbsp; &nbsp; Comments : <%= post.comments%>
      </p>
      <%} %>

        <%- include('includes/footer.ejs') %>
  </body>

  </html>